.button-wrapper {
  padding: 0%;
  margin: 0;
  background-color: transparent;
}
.outline {
  border: #000 solid 1px;
}
.outline * {
}
.butt {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -4px 0px 2px -4px;
  padding: 7px 15px;
  font-size: 15px;
  color: #fff;

  width: 100%;
  height: 100%;
  transition: margin ease-in 0.1s;
  transition: color ease-in 0.2s;
  cursor: pointer;
}
.Butt {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 7px 15px;
  font-size: 15px;
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 100%;
  transition: margin ease-in 0.1s;
  transition: color ease-in 0.2s;
  cursor: pointer;
}
.butt * {
  padding: 5px;
}
.Butt * {
  padding: 5px;
}
.butt:hover {
  color: rgb(155, 155, 155);
  transition: color ease-in 0.2s;
}

.Butt:hover {
  color: rgb(155, 155, 155);
  transition: color ease-in 0.2s;
}

@media screen and (max-width: 55em) {
  .outline {
    width: 100%;
  }
  .butt {
  }
}
