.wrapper {
  display: flex;
  flex-direction: column;
  height: 200px;
  box-shadow: 1px 10px 8px rgb(175, 175, 175);
  padding: 25px;
}
.title {
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
.text {
  font-size: 15px;
  cursor: pointer;
}
.text:hover {
  text-decoration: underline;
}
