.signingIn-container {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}
.signIn {
  width: 100%;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 20px 0;
}
.hyperlink {
  color: #000;
  transition: ease-in background-color 0.2s;
}
.hyperlink:hover {
  background-color: #000;
  color: #fff;
  transition: ease-in background-color 0.2s;
}
.title {
  margin: 0px 0 30px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}
.form {
  display: flex;
  flex-direction: column;
}
.form * {
  font-size: 15px;
  height: 45px;
  padding: 0 20px;
  margin: 25px 0;
  outline: none;
  border: solid 1.5px rgb(141, 141, 141);
  transition: bottom ease-in 0.5s;
}
.keep-logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0 30px;
}
.keep-logged-in > input {
  height: 20px;
  width: 20px;
}
.keep-logged-in > input:checked {
  background-color: #fff;
}
.keep-logged-in > input:hover {
  color: #000;
}

.privacy-notice {
  margin: 20px 0;
}
.other-login-options {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin: 15px 22px 15px 0;
}

.icon-title {
  padding: 0 10px;
}
.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  border: #000 solid 1px;
  height: 45px;
  margin: 5px 0;
  transition: color ease-in 0.2s;
}
.option * {
  padding: 5px;
}
.option:hover {
  color: rgb(155, 155, 155);
  transition: color ease-in 0.2s;
}
.icon-fb {
  display: flex;
  justify-content: flex-end;
}
.icon-go {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 72em) {
  .title {
    font-size: 32px;
  }
  .other-login-options * {
    width: 100%;
  }
}
