.outline {
  position: absolute;
  z-index: 1;
  height: 40px;
  width: 138px;
  border: #000 solid 1px;
}
.butt {
  width: 138px;
  margin: -3px 3px 3px -3px;
  z-index: 2;
  font-size: 15px;
  padding: 12px 35px;
  color: #fff;
  background-color: #000;
  border: none;
  transition: margin ease-in 0.1s;
}
.Butt {
  width: 138px;
  margin: 0;
  z-index: 2;
  font-size: 15px;
  padding: 12px 35px;
  color: #fff;
  background-color: #000;
  border: none;
  transition: margin ease-in 0.1s;
}
