.wrapper {
  display: flex;
  align-items: center;
  overflow: scroll;
}
.container {
  background-color: antiquewhite;
  margin: 20px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
.content {
  display: flex;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: row;
}
button * {
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 50px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 350px;
  width: 200px;
  margin: 10px;
  background-color: burlywood;
}
.butt {
  margin: 10px;
  height: 30px;
}
