.user-account {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 0;
}
.main-content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 72em) {
  .user-account {
    flex-direction: column;
  }
  .main-content {
    flex-direction: column;
  }
  .signIn {
    width: 100%;
  }
}
