.user-account {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.signingIn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  justify-content: center;
}
.signIn {
  width: 50%;
}
.title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}
.form {
  margin: 40px 0;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}
.form * {
  height: 40px;
  padding: 0 20px;
  margin: 20px 0;
  outline: none;
  border: solid 1.5px rgb(141, 141, 141);
  transition: bottom ease-in 0.5s;
}
/* .form *:focus {
  border: solid 1.5px rgb(141, 141, 141);
  border-bottom: solid 3px rgb(253, 0, 0);
  transition: bottom ease-in 0.5s;
}
.form *:focus::placeholder {
  position: absolute;
  bottom: 30px;
  transition: bottom ease-in 0.5s;
} */

@media screen and (max-width: 55em) {
  /* .signIn {
    width: 100%;
  } */
}
