.back-to-top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.back-to-top-wrapper * {
  margin: 0 8px;
}
.arrow {
  width: 15px;
  height: 15px;
  background-image: url(https://img.icons8.com/ios/15/000000/collapse-arrow--v1.png);
}
.text {
  font-weight: 600;
}
