.region {
  display: flex;
}
.region * {
  padding: 0 35px;
}
.language {
  display: none;
}
.bottom-links {
  display: flex;
  flex-direction: row;
}
.sector {
  display: flex;
  flex-direction: row;
}
.bottom-links a {
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  padding: 0px 15px;
  border-left: solid rgb(184, 184, 184) 1px;
}
@media screen and (max-width: 55em) {
  .bottom-part-wrapper {
    height: 15em;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
  }
  .bottom-links {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
  }
  .sector {
    flex-flow: column;
    align-items: flex-start;
  }
  .region {
    flex-direction: row;
  }
  .language {
    display: flex;
  }
  .bottom-links a {
    border: none;
    padding: 0px 35px;
  }
}
