.sale-on-membership-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 155px;
  background-color: rgb(230, 230, 15);
}

.sale-on-membership-text {
  font-size: 28px;
  font-weight: 700;
}

@media screen and (max-width: 55em) {
  .sale-on-membership-wrapper {
    flex-direction: column;
  }
}
