.needhelp-container {
  margin: 15px;
  letter-spacing: 0.4px;
}
.title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 9px 0;
}
.items {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-decoration: underline;
}
.items * {
  text-decoration: none;
  color: rgb(66, 66, 66);
  margin: 4px 0;
  transition: background-color ease-in 0.25s;
  background-color: white;
}
.items *:hover {
  background-color: black;
  color: rgb(179, 179, 179);
  text-decoration: underline rgb(179, 179, 179);
  transition: background-color ease-in 0.25s;
}
