.app {
  display: flex;
  flex-direction: column;
}
.homepage {
  background-color: #920b55;
}
.dif {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 80px;
  font-style: italic;
  border-radius: 15px;

  box-shadow: 2px 5px 4px rgb(214, 120, 183);
  height: 25px;
  font-size: 10px;
  background: linear-gradient(#f87495, #920b55);
  transition: box-shadow ease-in 0.3s;
  margin: 50px auto auto 50px;
  cursor: pointer;
}
.dif:hover {
  box-shadow: 2px 2px 20px rgb(245, 157, 216);
}

.home {
  justify-content: space-around;
  align-items: center;
}

.form {
  margin-left: 49px;
  margin-top: 10px;
  border-radius: 10px;
  border-width: 0;
  box-shadow: 1px 1px 5px rgb(177, 174, 174);
  border: none;
  transition: box-shadow ease-in 0.15s;
}
::placeholder {
  font-size: 10px;
}
.form:focus {
  outline: none;
  box-shadow: 1px 12px 25px rgb(177, 174, 174);
  transition: box-shadow ease-in 0.15s;
}
