.wrapper {
  display: flex;
  width: 500px;
  align-items: center;
  overflow-x: -moz-hidden-unscrollable;
  overflow-y: hidden;
  margin: 15px;
}
.container {
  background-color: antiquewhite;
}
.title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
.content {
  display: flex;
  flex-direction: row;
}
.content * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 350px;
  width: 200px;
  margin: 10px;
}
button * {
  height: 30px;
  width: 30px;
}
